//Color Palette
$darkestBlue:#165982 ;
$darkerBlue:#2174A3 ;
$darkBlue:#2980B9 ;
$blue:#3498DB ;
$lightBlue:#4EAED8 ;
$lighterBlue:#6EB5E0 ;
$lightestBlue:#A6DAED ;

$white:#F0F5F7;
$gray:#97A8B2;
$darkGray:#465F72;
$black:#0E2538;